.copyright {
    width: 40%;
}

.box button {
    position: absolute;
    border: 2px solid grey;
    background: #fff;
    left: 10%;
    width: 230px;
    color: rgb(109, 99, 190);
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 30px;
    padding: 6px;
    box-shadow: -2px 5px 10px 2px rgb(180, 180, 245);
    cursor: pointer;
}

button ion-icon {
    font-size: 1.5rem;
    float: right;
    margin-right: 20px;
    width: 20%;
}

a {
    color: #fff;
    text-decoration: none;
}
.otp_code {
    background: #ffeb3b !important;
    color: #262323 !important;
    width: 100px;
    font-size: 14px !important;
    position: relative !important;
    float: none !important;
    top: -50px;
    left: -20px!important;
}
.box-p {
    background: linear-gradient(-45deg, rgb(190, 190, 240), rgb(123, 120, 201));
}
.desktop-mode{
    display: table;
}
.mobile-mode{
    display: none;
}
.vote-now{
    position:unset !important;
    border: 2px solid grey;
    background: #fff;
    width: 230px;
    color: rgb(109, 99, 190);
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 30px;
    padding: 6px;
    box-shadow: -2px 5px 10px 2px rgb(180 180 245);
    cursor: pointer;
}
main.results {
    position: relative;
    top: 10%;
}
.vote-details {
    width: 100%;
    display: block !important;
    padding: unset !important;
}

.vote-details div {
    display: block;
    width: 100% !important;
    text-align: center;
    font-size: 20px;
    padding: 0px !important;
}

.vote-details b {
    font-size: 25px !important;
}