@media (max-width: 768px) {
    .graphic4 {
        height: unset !important;
        width: unset !important;
        position: unset !important;
        left: unset !important;
        top: unset !important;
        border-radius: unset !important;
    }

    .login-form {
        min-height: 200px;
        background: #fff;
        position: relative;
        border-radius: 5px;
        top: 25%;
        padding: 30px 0px 50px;
    }

    .otp-varify {
        min-height: 280px;
        background: #fff;
        position: relative;
        border-radius: 5px;
        top: 25%;
        padding: 30px 0px;
    }

    .login-form .alert ul {
        padding-left: 10px;
    }

    .otp-varify .alert ul {
        padding-left: 10px;
    }

    .otp-varify .alert ul li {
        padding-left: 0px;
    }


    div#login-div form {
        position: unset;
        width: 100%;
        top: 25%;
        left: unset;
        font-size: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    div#login-div form span input {
        border: none;
        margin-left: unset;
        height: 2rem;
        text-align: center;
        font-size: 10px;
    }

    .box button {
        width: 83% !important;
        margin: 0px auto;
        margin-left: -2% !important;
    }

    .box {
        /*height: 60% !important;*/
        width: 90% !important;
        overflow: scroll !important;
    }

    .copyright {
        width: 100%;
    }

    .otp_code {
        position: absolute !important;
        top: -20px;
        left: 10%!important;
    }

    .box-p {
        background: linear-gradient(-45deg, rgb(190, 190, 240), rgb(123, 120, 201));
    }

    .desktop-mode {
        display: none;
    }

    .mobile-mode {
        display: table;
    }

    .mobile-mode span {
        font-size: 20px;
        padding-left: 7px;
    }

    #vote-list {
        max-width: 80%;
        margin: 0 auto;
    }

    .results {
        width: 100%;
        font-size: 25px;
        margin: auto;
        position: relative;
        top: 30%;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 5%;
        top: 26%;
        width: 90%;
        height: 100%;
        overflow: auto;
        padding-top: 50px;
    }

    .vote-details {
        width: 100%;
        display: block !important;
        padding: unset !important;
    }

    .vote-details div {
        display: block;
        width: 100% !important;
        text-align: center;
        font-size: 20px;
        padding:0px !important;
    }

    .vote-details b {
        font-size: 25px !important;
    }
}