$icon-font-path: "/backend_resources/fonts/bootstrap/";

//$primary-color: #f8bbd0 !default;
//$accent-color: #6a1b9a !default;

$primary: #8167E8;
$secondary: #afafaf;
$success: #54C57A;
$warning: #F2994A;
$danger: #DF577B;
$default: #afafaf;
$info: #56CCF2;
$link: #2F80ED;
$white: #fff;
$black: #333;
$dark: #0C2940;
$light: #efefef;
$undpLoginBtn: #2B519A;
$undpLoginBackground: #153A76;
$undpBlueAdd: #0468B1;

$theme-colors: () !default;
$theme-colors: map-merge(
        (
            "primary":    $primary,
            "secondary":  $secondary,
            "success":    $success,
            "info":       $info,
            "warning":    $warning,
            "danger":     $danger,
            "light":      $light,
            "dark":       $dark,
            "undp_login_background": $undpLoginBackground
        ),
        $theme-colors
);

$primary-hover: #4c34ad;
$secondary-hover: darken($secondary, 15%);
$success-hover: darken($success, 15%);
$warning-hover: darken($warning, 15%);
$danger-hover: darken($danger, 15%);
$default-hover: darken($default, 15%);
$info-hover: darken($info, 15%);
$link-hover: darken($link, 15%);
$white-hover: darken($white, 15%);
$black-hover: darken($black, 15%);
$dark-hover: darken($dark, 15%);
$light-hover: darken($light, 15%);

$primary-light: #C4B7F4;
$secondary-light: #afafaf;
$success-light: #B0E4C1;
$warning-light: #F8CBA3;
$danger-light: #EFA9BB;
$default-light: #afafaf;
$info-light: #93BDF6;

$btn-color-opacity: 0.1;
